[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[diff]
	tool = diffmerge
	algorithm = patience
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[user]
	name = dgourlay
	email = dgourlay@abebooks.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = osxkeychain
[sequencer]
	editor = subl
[core]
	editor = mvim -f
	excludesfile = /Users/dgourlay/.gitignore_global
[push]
	default = current
[rerere]
  enabled = true
[alias]
  oldest-ancestor = !zsh -c 'diff -u <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
[github]
	name = dgourlay
	email = derekgourlay@gmail.com
